on early-init
    start fingerprint_sh

on init
    chown system system /dev/goodix_fp
    chmod 0644 /dev/goodix_fp

on post-fs-data
    mkdir /data/vendor/fpc 0777 system system
    mkdir /data/vendor/goodix 0777 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /mnt/vendor/persist/fpc 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system

on boot
    chown system system /sys/bus/platform/devices/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chown system system /sys/bus/platform/devices/soc:fpc1020/modalias
    chown system system /sys/bus/platform/devices/soc:fpc1020/compatible_all
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/irq
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/modalias
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/compatible_all

    chmod 0777 /dev/goodix_fp

    chmod 0664 /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown
    chown system graphics /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown

    # Double Tap Sensor
    chown system system /sys/bus/i2c/drivers/fts_ts/2-0038/double_tap_pressed
    chmod 0660 /sys/bus/i2c/drivers/fts_ts/2-0038/double_tap_pressed

    # Single Tap Sensor
    chown system system sys/bus/i2c/drivers/fts_ts/2-0038/single_tap_pressed
    chmod 0660 /sys/bus/i2c/drivers/fts_ts/2-0038/single_tap_pressed

on property:vendor.post_boot.parsed=1
    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1
    # Uclamp tunings
    setprop kernel.sched_util_clamp_min_rt_default 500
    # Top-app
    write /dev/cpuctl/top-app/cpu.uclamp.max max
    write /dev/cpuctl/top-app/cpu.uclamp.min 10
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 0
    # Foreground
    write /dev/cpuctl/foreground/cpu.uclamp.max 80
    write /dev/cpuctl/foreground/cpu.uclamp.min 20
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 0
    # Background
    write /dev/cpuctl/background/cpu.uclamp.max max
    write /dev/cpuctl/background/cpu.uclamp.min 20
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 0
    # System-background
    write /dev/cpuctl/system-background/cpu.uclamp.max 40
    write /dev/cpuctl/system-background/cpu.uclamp.min 0
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 0
    # Nnapi-hal
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.max max
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.min 75
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.latency_sensitive 1
    # Camera-daemon
    write /dev/cpuctl/camera-daemon/cpu.uclamp.max max
    write /dev/cpuctl/camera-daemon/cpu.uclamp.min 50
    write /dev/cpuctl/camera-daemon/cpu.uclamp.latency_sensitive 1

service vendor.goodix-events /vendor/bin/init.goodix.events.sh
    class late_start
    user root
    group root system input
    disabled
    oneshot

service fingerprint_sh /vendor/bin/init.fingerprint.sh
    class main
    user root
    group root system
    disabled
    oneshot

on property:sys.boot_completed=1
    start vendor.goodix-events
