on post-fs-data
    mkdir /data/vendor/nfc 0770 nfc nfc
    
service stflashtool /vendor/bin/STFlashTool
    class late_start
    group nfc
    user nfc
    oneshot    

on post-fs && property:ro.boot.hwname=spesn
    start stflashtool

on boot && property:ro.boot.hwname=spesn
    start nfc_hal_service

